html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none; }

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none; }

.btn__link {
  color: #009ADD;
  font-weight: normal;
  border-radius: 0; }
  .btn__link, .btn__link:active, .btn__link.active, .btn__link[disabled], fieldset[disabled] .btn__link {
    background-color: transparent; }
  .btn__link, .btn__link:hover, .btn__link:focus, .btn__link:active {
    border-color: transparent; }
  .btn__link:hover, .btn__link:focus {
    color: #006591;
    text-decoration: underline;
    background-color: transparent; }
  .btn__link[disabled]:hover, .btn__link[disabled]:focus, fieldset[disabled] .btn__link:hover, fieldset[disabled] .btn__link:focus {
    color: #777777;
    text-decoration: none; }

.btn__lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px; }

.btn__sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn__xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn_default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn_default:focus, .btn_default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .btn_default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn_default:active, .btn_default.active, .open > .btn_default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
    .btn_default:active:hover, .btn_default:active:focus, .btn_default:active.focus, .btn_default.active:hover, .btn_default.active:focus, .btn_default.active.focus, .open > .btn_default.dropdown-toggle:hover, .open > .btn_default.dropdown-toggle:focus, .open > .btn_default.dropdown-toggle.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c; }
  .btn_default:active, .btn_default.active, .open > .btn_default.dropdown-toggle {
    background-image: none; }
  .btn_default.disabled:hover, .btn_default.disabled:focus, .btn_default.disabled.focus, .btn_default[disabled]:hover, .btn_default[disabled]:focus, .btn_default[disabled].focus, fieldset[disabled] .btn_default:hover, fieldset[disabled] .btn_default:focus, fieldset[disabled] .btn_default.focus {
    background-color: #fff;
    border-color: #ccc; }
  .btn_default .badge {
    color: #fff;
    background-color: #333; }

.btn_primary {
  color: #fff;
  background-color: #009ADD;
  border-color: #0088c4; }
  .btn_primary:focus, .btn_primary.focus {
    color: #fff;
    background-color: #0076aa;
    border-color: #002f44; }
  .btn_primary:hover {
    color: #fff;
    background-color: #0076aa;
    border-color: #005e86; }
  .btn_primary:active, .btn_primary.active, .open > .btn_primary.dropdown-toggle {
    color: #fff;
    background-color: #0076aa;
    border-color: #005e86; }
    .btn_primary:active:hover, .btn_primary:active:focus, .btn_primary:active.focus, .btn_primary.active:hover, .btn_primary.active:focus, .btn_primary.active.focus, .open > .btn_primary.dropdown-toggle:hover, .open > .btn_primary.dropdown-toggle:focus, .open > .btn_primary.dropdown-toggle.focus {
      color: #fff;
      background-color: #005e86;
      border-color: #002f44; }
  .btn_primary:active, .btn_primary.active, .open > .btn_primary.dropdown-toggle {
    background-image: none; }
  .btn_primary.disabled:hover, .btn_primary.disabled:focus, .btn_primary.disabled.focus, .btn_primary[disabled]:hover, .btn_primary[disabled]:focus, .btn_primary[disabled].focus, fieldset[disabled] .btn_primary:hover, fieldset[disabled] .btn_primary:focus, fieldset[disabled] .btn_primary.focus {
    background-color: #009ADD;
    border-color: #0088c4; }
  .btn_primary .badge {
    color: #009ADD;
    background-color: #fff; }

.btn_success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
  .btn_success:focus, .btn_success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625; }
  .btn_success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
  .btn_success:active, .btn_success.active, .open > .btn_success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
    .btn_success:active:hover, .btn_success:active:focus, .btn_success:active.focus, .btn_success.active:hover, .btn_success.active:focus, .btn_success.active.focus, .open > .btn_success.dropdown-toggle:hover, .open > .btn_success.dropdown-toggle:focus, .open > .btn_success.dropdown-toggle.focus {
      color: #fff;
      background-color: #398439;
      border-color: #255625; }
  .btn_success:active, .btn_success.active, .open > .btn_success.dropdown-toggle {
    background-image: none; }
  .btn_success.disabled:hover, .btn_success.disabled:focus, .btn_success.disabled.focus, .btn_success[disabled]:hover, .btn_success[disabled]:focus, .btn_success[disabled].focus, fieldset[disabled] .btn_success:hover, fieldset[disabled] .btn_success:focus, fieldset[disabled] .btn_success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c; }
  .btn_success .badge {
    color: #5cb85c;
    background-color: #fff; }

.btn_info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .btn_info:focus, .btn_info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85; }
  .btn_info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
  .btn_info:active, .btn_info.active, .open > .btn_info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
    .btn_info:active:hover, .btn_info:active:focus, .btn_info:active.focus, .btn_info.active:hover, .btn_info.active:focus, .btn_info.active.focus, .open > .btn_info.dropdown-toggle:hover, .open > .btn_info.dropdown-toggle:focus, .open > .btn_info.dropdown-toggle.focus {
      color: #fff;
      background-color: #269abc;
      border-color: #1b6d85; }
  .btn_info:active, .btn_info.active, .open > .btn_info.dropdown-toggle {
    background-image: none; }
  .btn_info.disabled:hover, .btn_info.disabled:focus, .btn_info.disabled.focus, .btn_info[disabled]:hover, .btn_info[disabled]:focus, .btn_info[disabled].focus, fieldset[disabled] .btn_info:hover, fieldset[disabled] .btn_info:focus, fieldset[disabled] .btn_info.focus {
    background-color: #5bc0de;
    border-color: #46b8da; }
  .btn_info .badge {
    color: #5bc0de;
    background-color: #fff; }

.btn_warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .btn_warning:focus, .btn_warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d; }
  .btn_warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
  .btn_warning:active, .btn_warning.active, .open > .btn_warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
    .btn_warning:active:hover, .btn_warning:active:focus, .btn_warning:active.focus, .btn_warning.active:hover, .btn_warning.active:focus, .btn_warning.active.focus, .open > .btn_warning.dropdown-toggle:hover, .open > .btn_warning.dropdown-toggle:focus, .open > .btn_warning.dropdown-toggle.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #985f0d; }
  .btn_warning:active, .btn_warning.active, .open > .btn_warning.dropdown-toggle {
    background-image: none; }
  .btn_warning.disabled:hover, .btn_warning.disabled:focus, .btn_warning.disabled.focus, .btn_warning[disabled]:hover, .btn_warning[disabled]:focus, .btn_warning[disabled].focus, fieldset[disabled] .btn_warning:hover, fieldset[disabled] .btn_warning:focus, fieldset[disabled] .btn_warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236; }
  .btn_warning .badge {
    color: #f0ad4e;
    background-color: #fff; }

.btn_danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }
  .btn_danger:focus, .btn_danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19; }
  .btn_danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
  .btn_danger:active, .btn_danger.active, .open > .btn_danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
    .btn_danger:active:hover, .btn_danger:active:focus, .btn_danger:active.focus, .btn_danger.active:hover, .btn_danger.active:focus, .btn_danger.active.focus, .open > .btn_danger.dropdown-toggle:hover, .open > .btn_danger.dropdown-toggle:focus, .open > .btn_danger.dropdown-toggle.focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19; }
  .btn_danger:active, .btn_danger.active, .open > .btn_danger.dropdown-toggle {
    background-image: none; }
  .btn_danger.disabled:hover, .btn_danger.disabled:focus, .btn_danger.disabled.focus, .btn_danger[disabled]:hover, .btn_danger[disabled]:focus, .btn_danger[disabled].focus, fieldset[disabled] .btn_danger:hover, fieldset[disabled] .btn_danger:focus, fieldset[disabled] .btn_danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a; }
  .btn_danger .badge {
    color: #d9534f;
    background-color: #fff; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

/* @include make-grid-columns; */
@media (min-width: 1200px) {
  .col__xs_1, .col__xs_2, .col__xs_3, .col__xs_4, .col__xs_5, .col__xs_6, .col__xs_7, .col__xs_8, .col__xs_9, .col__xs_10, .col__xs_11, .col__xs_12 {
    float: left; }

  .col__xs_1 {
    width: 8.33333%; }

  .col__xs_2 {
    width: 16.66667%; }

  .col__xs_3 {
    width: 25%; }

  .col__xs_4 {
    width: 33.33333%; }

  .col__xs_5 {
    width: 41.66667%; }

  .col__xs_6 {
    width: 50%; }

  .col__xs_7 {
    width: 58.33333%; }

  .col__xs_8 {
    width: 66.66667%; }

  .col__xs_9 {
    width: 75%; }

  .col__xs_10 {
    width: 83.33333%; }

  .col__xs_11 {
    width: 91.66667%; }

  .col__xs_12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col__sm_1, .col__sm_2, .col__sm_3, .col__sm_4, .col__sm_5, .col__sm_6, .col__sm_7, .col__sm_8, .col__sm_9, .col__sm_10, .col__sm_11, .col__sm_12 {
    float: left; }

  .col__sm_1 {
    width: 8.33333%; }

  .col__sm_2 {
    width: 16.66667%; }

  .col__sm_3 {
    width: 25%; }

  .col__sm_4 {
    width: 33.33333%; }

  .col__sm_5 {
    width: 41.66667%; }

  .col__sm_6 {
    width: 50%; }

  .col__sm_7 {
    width: 58.33333%; }

  .col__sm_8 {
    width: 66.66667%; }

  .col__sm_9 {
    width: 75%; }

  .col__sm_10 {
    width: 83.33333%; }

  .col__sm_11 {
    width: 91.66667%; }

  .col__sm_12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col__md_1, .col__md_2, .col__md_3, .col__md_4, .col__md_5, .col__md_6, .col__md_7, .col__md_8, .col__md_9, .col__md_10, .col__md_11, .col__md_12 {
    float: left; }

  .col__md_1 {
    width: 8.33333%; }

  .col__md_2 {
    width: 16.66667%; }

  .col__md_3 {
    width: 25%; }

  .col__md_4 {
    width: 33.33333%; }

  .col__md_5 {
    width: 41.66667%; }

  .col__md_6 {
    width: 50%; }

  .col__md_7 {
    width: 58.33333%; }

  .col__md_8 {
    width: 66.66667%; }

  .col__md_9 {
    width: 75%; }

  .col__md_10 {
    width: 83.33333%; }

  .col__md_11 {
    width: 91.66667%; }

  .col__md_12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col__lg_1, .col__lg_2, .col__lg_3, .col__lg_4, .col__lg_5, .col__lg_6, .col__lg_7, .col__lg_8, .col__lg_9, .col__lg_10, .col__lg_11, .col__lg_12 {
    float: left; }

  .col__lg_1 {
    width: 8.33333%; }

  .col__lg_2 {
    width: 16.66667%; }

  .col__lg_3 {
    width: 25%; }

  .col__lg_4 {
    width: 33.33333%; }

  .col__lg_5 {
    width: 41.66667%; }

  .col__lg_6 {
    width: 50%; }

  .col__lg_7 {
    width: 58.33333%; }

  .col__lg_8 {
    width: 66.66667%; }

  .col__lg_9 {
    width: 75%; }

  .col__lg_10 {
    width: 83.33333%; }

  .col__lg_11 {
    width: 91.66667%; }

  .col__lg_12 {
    width: 100%; } }
/* ----- /layout ----- */
/* -- header -- */
/* ----- /Pages/ ----- */
/* --- main --- */

/*# sourceMappingURL=style.css.map */
